.snakemake
ExAC/analysis/
ExAC/downloads/
ExAC/samplings/
ExAC/region/
ExAC/ExAC.regcut.*
gnomAD/download/
gnomAD/samplings/
gnomAD/analysis/
gnomAD/refseq/
gnomAD/filtered/
gnomAD/gnomad.refseq.*
1KG/
1KGsamples*
